<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Nette blog Doctrine 2</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>
<body>
    <div id="container">

            {if count($flashes) > 0}
                    <div id="flashes">
                            <div class="text">
                                    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
                                            {$flash->message}
                                    </div>
                            </div>
                    </div>
            {/if}

            <div id="header">
                    <div id="logo">
                            <h1>Blog system</h1>
                    </div>
                    <div id="userInfo">
                            {if $user->isLoggedIn()}
                                    {_common.loggedAs}: {$userEntity->name}
                            {/if}
                    </div>
                    <div id="menu">
                        <a n:href="Homepage:default">{_menu.homepage}</a>
                        {if $user->isLoggedIn()}
                            <a n:href="Article:create">{_menu.createArticle}</a>
                            <a n:if="$userEntity->isAdmin()" n:href="ArticleCategory:manage">{_menu.categoriesManage}</a>
                            <a n:href="logout!">{_menu.logout}</a>
                        {else}
                            <a n:href="Sign:in">{_menu.login}</a>
                            <a n:href="Sign:up">{_menu.signUp}</a>
                         {/if}
                    </div>
            </div>
            <div id="content">
                    {include content}
            </div>
            <div id="footer">
                    <div class="text">
                            &copy; Konesoft Corporation
                    </div>
            </div>
    </div>

    {block scripts}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    {/block}
</body>
</html>
