{block content}
<div class="container">
    <h2 class="text-center" style="margin: 20px; margin-bottom: 20px">{_articleCategory.edit.header}</h2>
</div>
{if $category !== NULL}
    {control editCategoryForm}
{else}
    {_articleCategory.categoryDoesntExist}
{/if}