{block content}
<div class="container">
    <h2 class="text-center" style="margin: 20px; margin-bottom: 20px">{_sign.up.header}</h2>
</div>
{control signUpForm}
<br />
{_sign.up.nameMayContainLetters}: a-z A-Z 0-9
